<div class="container">
  <h1>Community Games!</h1>
  <h3><a href="" ui-sref="new">Add Game to List</a></h3>
  <div class="col-md-12" ng-controller="GamesController">
    <ul>
      <li ng-repeat="game in games">
        <h3>Title: {{ game.title }}</h3>
        <p><a href="" ui-sref="show({id: game.id})">Click for more details</a></p>
        <p><a href="" ui-sref="edit({id: game.id})">Edit Game</a></p>
        <p><a href ng-click="deleteGame(game)">Delete Game?</a></p>
      </li>
    </ul>
  </div>
</div>
